<form [formGroup]="fg">
    <div class="form-group">
        <label class="col-sm-4 col-form-label">Assignee:<i class="far fa-question-circle" title="The user that shall be in charge of this task"></i></label>
        <input type="text" class="form-control form-control-sm" formControlName="assignee">
    </div>

    <div class="form-group">
        <label class="col-sm-4 col-form-label">Candidate Users:<i class="far fa-question-circle" title="A comma-separated list of users that is entitled to do this task"></i></label>
        <input type="text" class="form-control form-control-sm" formControlName="candidateUsers">
    </div>

    <div class="form-group">
        <label class="col-sm-4 col-form-label">Candidate Groups:<i class="far fa-question-circle" title="A comma-separated list of groups that is entitled to do this task"></i></label>
        <input type="text" class="form-control form-control-sm" formControlName="candidateGroups">
    </div>
</form>
