<div class="property-component" style="height:100%" [formGroup]="formGroup" class="row" [hidden]="property.hidden">
    <label class="col-sm-3 col-form-label" [attr.for]="property.key">{{property.key}} <i class="far fa-question-circle" title="{{property.label}}"></i></label>


    <div [ngSwitch]="property.controlType" class="col-sm-9">
        <input *ngSwitchCase="'input'" class="form-control-sm" [class]="property.classes" [readonly]="property.readonly" [formControlName]="property.key"
                [id]="property.key" [type]="property.type">

        <select *ngSwitchCase="'select'" class="form-control-sm" [class]="property.classes" [id]="property.key" [formControlName]="property.key">
            <option *ngFor="let opt of property.options" [value]="opt.value">{{opt.key}}</option>
        </select>

    </div>

    <!-- <div *ngFor="let childProperty of childProperties.controls">
        <dynamic-property [property]="childProperty" [form]="form"></dynamic-property>
    </div> -->

    <div class="errorMessage" *ngIf="wasTouched && !isValid">{{property.label}} is required</div>
  </div>
