<div class="row">
    <div class="col-12">
        <div class="form-check form-check-inline form-switch">
            <input class="form-check-input" [(ngModel)]="showProvided" type="checkbox" id="providedCapabilitiesSwitch">
            <label class="form-check-label" for="providedCapabilitiesSwitch">Show provided capabilities</label>
        </div>
    </div>
    <div class="col-12">
        <div class="form-check form-check-inline form-switch">
            <input class="form-check-input" [(ngModel)]="showRequired" type="checkbox" id="requiredCapabilitiesSwitch">
            <label class="form-check-label" for="requiredCapabilitiesSwitch">Show required capabilities</label>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-6" *ngFor="let capability of capabilities">
        <div class="card mb-5">
            <div class="card-header">
                <h3 class="card-title" title="{{capability.iri}}">{{capability.getLocalName()}}</h3>
            </div>
        </div>
    </div>
</div>

