<h1>Module Management</h1>
<h3>List of all currently connected modules</h3>
<div class="row">
  <div class="col-3" *ngFor="let module of modules">
    <div class="card mb-5">
      <div class="card-header">
        <h5 class="card-title">{{module.header.name}}</h5>
        {{module.header.id}}
        <button class="btn btn-danger" style="position:absolute; right:10px;top:10px;" title="Disconnect Module"><i class="fa fa-times"></i></button>
      </div>
      <div class="card-body">
        Functions:
        <ul>
          <li *ngFor="let moduleFunction of module.body.moduleFunctions">{{moduleFunction.name}}
            <ul>
              <li>Location: {{moduleFunction.location}}</li>
              <li>Parameters:</li>
              <ul>
                <li *ngFor="let parameter of module.body.moduleFunctions[0].parameters">Name: {{parameter.name}}; Type:
                  {{parameter.dataType}}</li>
              </ul>
            </ul>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>


<!-- <input #socketInput type="text" (keyup)="this.socketMsg=socketInput.value">
<button (click)="sendMsg(socketInput.value)">Send message via socket</button> -->
