<h1>Module Management</h1>
<div class="row">
  <div class="col-6" *ngFor="let module of modules">
    <div class="card mb-5">
      <div class="card-header">
        <h3 class="card-title" title="{{module.name}}">{{module.getShortName()}}</h3>
        <button class="btn btn-danger" style="position:absolute; right:10px;top:10px;" title="Disconnect Module"
          (click)="disconnectModule(module.header.id)"><i class="fa fa-times"></i></button>
      </div>
      <div class="card-body">
        <!-- For all processes -->
        <h4>Processes:</h4>
        <div *ngFor="let process of module.processes" class="mb-3 border border-secondary rounded">
          <h5 title="{{process.name}}">{{process.getShortName()}}</h5>
          <!-- For all Executable Methods -->
            <ul *ngFor="let method of process.methods">
              <li><b>Executable Service:</b>{{method.getShortName()}}</li>
              <li><b>HTTP-Method:</b>{{method.getShortMethodType()}}</li>
              <li><b>Full Path:</b>{{method.getFullPath()}}</li>
              <li><b>Parameters:</b>
                <!-- For all parameters -->
                <table class="table table-responsive table-sm" *ngIf="method.parameters">
                  <thead>
                    <tr>
                      <th>Name</th>
                      <th>Type</th>
                      <th>DataType</th>
                      <th>ParamLocation</th>
                      <th>Options</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let parameter of method.parameters">
                      <td>{{parameter.getShortName()}}</td>
                      <td>{{parameter.getShortType()}}</td>
                      <td>{{parameter.dataType}}</td>
                      <td>{{parameter.location}}</td>
                      <td>
                        <ul>
                          <li *ngFor="let option of parameter.paramOptions">{{option}}</li>
                        </ul>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </li>
              <div class="row mt-4">
                <div class="col-10">
                  <p>Execute Method:</p>
                  <form (ngSubmit)="executeModuleService(method)" #executionForm="ngForm">
                    <div class="input-group mb-3" *ngFor="let parameter of method.parameters; let i = index">
                      <div class="input-group-prepend">
                        <span class="input-group-text">{{parameter.getShortName()}}</span>
                      </div>
                      <input type="text" class="form-control" placeholder="ParameterValue" name="{{parameter.getShortName()}}" [(ngModel)]="parameterValues[i]">
                    </div>
                    <button class="btn btn-primary">Execute request</button>
                  </form>
                </div>
              </div>
            </ul>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- 
<input #socketInput type="text" (keyup)="this.socketMsg=socketInput.value">
<button (click)="sendMsg(socketInput.value)">Send message via socket</button>


<a href="api/server/uploaded-files/asd.txt">Download</a> -->
