<h1>Process Control</h1>

    <div class='row p-2'>
         <div class='col-4'> 
             <ul class='card'>
                <h6 class='card-header'>Process Definitions</h6> 
                <div class="card-body">
                    <table  class='table table-bordered table-striped'>
                        <thead>
                            <tr>
                                <th scope="col">Process Definition ID</th>
                                <th scope="col">Options</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let processDefinition of processDefinitions">
                               <td>{{processDefinition.id}}</td>
                               <td> <i  class="fas fa-plus-circle mr-2 "title='Create Process Instance' data-toggle="modal" data-target="#startingModal"></i>
                                <i (click)="getDiagram(processDefinition.id) " class="fas fa-project-diagram mr-2 "title='Show diagram'></i>
                                <i  class="fas fa-minus-circle pl-1 mr-2" title='Delete Process Definition'></i> 
                                <i (click)="getXmlOfProcessDefinition(processDefinition) " class="fas fa-code pl--1- mr-2" title='Get XML' data-toggle="modal" data-target="#xmlModal" ></i>
                               </td>
                               
                           </tr>
                    </table>
                </div>
                <!-- <div class="list-group">
           
                <li *ngFor="let processDefinition of processDefinitions" class='list-group-item'> {{processDefinition.id}} <i  class="fas fa-plus-circle "style="position:absolute; right:45px; top:13px;" title='Create Process Instance'></i><i (click)="getDiagram(processDefinition.id)" class="fas fa-project-diagram "style="position:absolute; right:20px; top:13px;" title='Show diagram'></i><i  class="fas fa-minus-circle pl-1"style="position:absolute; right:0px;top:13px;" title='Delete Process Definition'></i></li>
            </div> -->

            </ul>
        </div>
        <div class='col-5'>
            <ul class='card'>
                <h6 class='card-header'>Diagram : (Selected Process Definition)</h6> 
                <div class='media' class>
                    <img src='assets/images/at-logo.png'>

              </div>
            </ul>
        </div> 
    </div>
    <div class='row p-2'>
        <div class='col-4'>

        </div>
        <div class='col-5'>
            <ul class='card'>
                <h6 class='card-header'>Process Instances</h6>
                <div class='card-body'>
                    <table class='table table-bordered table-striped'>
                        <thead>
                            <tr>
                                <th scope="col">Process Instance ID</th>
                                <th scope="col">Root Process Definition ID</th>
                                <th scope="col">State</th>
                                <th scope="col">Options</th>
                            </tr>
                        </thead>
                        <tbody>
                         <tr *ngFor="let instance of processInstances">
                            <td>{{instance.id}}</td>
                            <td>{{instance.definitionId}}</td>
                            <td>
                                <ng-container *ngIf="instance.ended; else notEnded">
                                    <span class="badge badge-pill badge-dark">ended</span>
                                </ng-container>
                                <ng-template #notEnded>
                                    <ng-container *ngIf="instance.suspended; else notSuspended">
                                        <span class="badge badge-pill badge-warning">suspended</span>
                                    </ng-container>
                                    <ng-template #notSuspended>
                                        <span class="badge badge-pill badge-success">active</span>
                                    </ng-template>
                                    
                                    
                                </ng-template>
                                
                            </td>
                            <td>
                                <i (click)="instanceOperate=instance"class='fas fa-play-circle mr-2' title='Operate with this Instance'></i>
                                <i class='fas fa-info-circle mr-2' title='Instance Information'></i>
                                <i (click)="deleteProcessInstance(instance)" class='fas fa-minus-circle mr-2' title='Delete Process Instance'> </i> 
                            </td>
                            
                        </tr>
                       
                       
                        </tbody>
                    </table>
                </div>

            </ul>
        </div>
        <div class="col-3">
            <div class="card">
                <h6 class='card-header'>Process Instance Operations</h6>
                <div class='card-body'>
                   
                    <ng-container *ngIf="instanceOperate; else noSelectedInstance">
                        <p>Selected: {{instanceOperate.id}}</p>
                        <ng-container *ngIf="instanceOperate.suspended; else active">
                            <button (click)="activate(instanceOperate)"type="button" class="btn btn-success mr-2">activate</button>
                        <button type="button"class="btn btn-warning" disabled>suspend</button>
                        </ng-container>
                        <ng-template #active>
                            <button type="button" class="btn btn-success mr-2" disabled>activate</button>
                        <button (click)="suspend(instanceOperate)" type="button" class="btn btn-warning">suspend</button>
                        </ng-template>
                        
                        
                        
                    </ng-container>
                    <ng-template #noSelectedInstance>
                        <p>Please select an Process Instance for operations.</p>
                    </ng-template>
                    
                    
                </div>
            </div>
        </div>
    </div>

    <!-- Pop-up for showing the XML-File of Process-Definition -->
<div class="modal fade" id="xmlModal" tabindex="-1" role="dialog" aria-labelledby="xmlModalTitle" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="xmlModalTitle">XML-File of Process-Definition</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          {{this.bpmnXml}}
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>

  <!-- Pop-up for starting an instance of a process definition-->


<div class="modal fade" id="startingModal" tabindex="-1" role="dialog" aria-labelledby="startingModalTitle" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="startingModalTitle">New Process-Instance</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
         Start-Form Variables
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <button type="button" class="btn btn-success">start</button>
        </div>
      </div>
    </div>
  </div>