<div class="card properties-container" *ngIf="show" [@enterAnimation]>
    <div class="card-header">
        <h3>Properties</h3>
    </div>
    <div class="card-body">
        <form>
            <div class="form-group form-row">
              <label class="col-sm-4 col-form-label">Type:</label>
              <div class="col-sm-6">
                <input type="text" readonly class="form-control-plaintext form-control-sm" value="{{element.type}}">
              </div>
            </div>
            <div class="form-group form-row">
              <label class="col-sm-4 col-form-label">ID:</label>
              <div class="col-sm-6">
                <input type="text" readonly class="form-control-plaintext form-control-sm" value="{{element.id}}">
              </div>
            </div>
          </form>
    </div>
</div>
