<div class="card mb-3">
    <div class="card-header">
        <div class="row align-items-center">
            <div class="col-9">
                <h5 class="d-inline" title="{{skill.iri}}">{{skill.getLocalName()}}</h5>
            </div>
            <div class="col-3">
                <div class="float-end">
                    <a class="btn btn-sm btn-secondary me-1" title="Show in Graph View" [routerLink]="[ '/graph-visualization/skills', skill.iri]">
                        <i class="fa fa-project-diagram"></i>
                    </a>
                    <button class="btn btn-sm btn-danger" title="Disconnect Skill"
                                (click)="deleteSkill()"><i class="far fa-trash-alt"></i></button>
                </div>
            </div>
        </div>
    </div>
    <div class="card-body">
        <div class="row">
            <div class="col-lg-6 col-md-12">
                <div class="row mb-3">
                    <div class="col-12">
                        <span class="fw-bold mr-1">Current state: </span>
                        <span class="badge bg-info" [ngClass]="{'blink-bg': this.blinkStateChange}">{{skill.stateMachine.getCurrentState().getLocalName()}}</span>
                    </div>
                </div>

                <h6 class="mt-3 fw-bold">Executable transitions:</h6>
                <button class="btn btn-sm me-2 mt-2" style="min-width: 100px"
                    *ngFor="let command of skill.stateMachine.getCommands()"
                    [disabled]="!this.isActiveCommand(command, skill)"
                    [class]="this.getCommandButtonClass(command)"
                    (click)="executeSkill(command)">
                    {{command.shortName}}
                </button>
                <div *ngIf="this.transitionTriggered" class="row p-6 mt-2 mb-2 mr-1 ml-1 bg-light text-dark">
                    <p class="font-weight-bold mr-1">Requested: </p>{{command.getShortName()}}
                </div>
            </div>

            <div class="col-lg-6 col-md-12">
                <div>
                    <h6>Parameters:</h6>
                    <form *ngIf="skill.skillParameters?.length>0" class="was-validated">
                        <div *ngFor="let parameter of skill.skillParameters">
                        <div class="row mt-2">
                            <label class="col-3 col-form-label">{{parameter.name}}</label>
                            <ng-container *ngIf="parameter.optionValues==undefined; else defined">
                                <div class="col-9" *ngIf="parameter.required; else notRequired">
                                    <input type="number" step="{{getSteps(parameter)}}" [(ngModel)]="parameter.value" name="{{parameter.name}}" class="form-control " placeholder="{{getDefault(parameter)}}"  required>
                                </div>
                                <ng-template #notRequired>
                                    <div class="col-9">
                                        <input type="number"  step="{{getSteps(parameter)}}" class="form-control is-invalid" placeholder="{{parameter.name}}" >
                                    </div>
                                </ng-template>

                            </ng-container>
                            <ng-template #defined>
                                <div class="col-9">
                                    <select class="form-select" placeholder="Chose an option" [(ngModel)]="parameter.value" name="{{parameter.name}}">
                                        <option *ngFor="let optionValue of parameter.optionValues" value="{{optionValue}}">{{optionValue}}</option>
                                    </select>
                                </div>
                            </ng-template>
                        </div>
                        </div>
                        <div class="row">
                            <div class="col-auto me-auto"></div>
                            <div class="col-auto">
                                <button class="btn btn-primary mt-3" (click)="setParameters()">Set parameters</button>
                            </div>
                        </div>
                    </form>
                </div>

                <div class="mt-4">
                    <h6>Outputs:</h6>
                    <form *ngIf="skill.skillOutputs?.length>0" class="was-validated">
                        <div class="row" *ngFor="let output of skill.skillOutputs">
                            <label class="col-3 col-form-label">{{output.name}}</label>
                            <ng-container *ngIf="output.optionValues==undefined; else defined">
                                <div class="col-9" *ngIf="output.required; else notRequired">
                                    <input type="number" step="{{getSteps(output)}}" [(ngModel)]="output.value" name="{{output.name}}" class="form-control " placeholder="{{getDefault(output)}}"  required>
                                </div>
                                <ng-template #notRequired>
                                    <div class="col-9">
                                        <input type="number"  step="{{getSteps(output)}}" class="form-control is-invalid" placeholder="{{output.name}}" >
                                    </div>
                                </ng-template>

                            </ng-container>
                            <ng-template #defined>
                                <div class="col-9">
                                    <select class="form-select" placeholder="Chose an option">
                                        <option *ngFor="let optionValue of output.optionValues">{{optionValue}}</option>
                                    </select>
                                </div>
                            </ng-template>
                        </div>
                        <div class="row">
                            <div class="col-auto me-auto"></div>
                            <div class="col-auto">
                                <button class="btn btn-primary mt-3" style="min-width: 120px" (click)="getSkillOutputs()">Get Outputs</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
