<div class="card">
    <div class="card-header">
        <i class="fa-solid fa-sliders"></i> Settings Overview
    </div>
    <div class="card-body" [formGroup]="this.apiConnectionForm">
        <div class="form-check form-switch">
            <input class="form-check-input" type="checkbox" role="switch" id="graphDbConnected" formControlName="graphDbConnected">
            <label *ngIf="(this.apiConnectionForm.get('graphDbConnected').value == true)" class="form-check-label" for="graphDbConnected">GraphDB is connected</label>
            <label *ngIf="(this.apiConnectionForm.get('graphDbConnected').value == false)" class="form-check-label warn" for="graphDbConnected">GraphDB is not connected</label>
        </div>

        <div class="form-check form-switch">
            <input class="form-check-input" type="checkbox" role="switch" id="mtpMappingServiceConnected" formControlName="mtpMappingServiceConnected">
            <label *ngIf="(this.apiConnectionForm.get('mtpMappingServiceConnected').value == true)" class="form-check-label" for="mtpMappingServiceConnected">MTP Mapping Service is connected</label>
            <label *ngIf="(this.apiConnectionForm.get('mtpMappingServiceConnected').value == false)" class="form-check-label warn" for="mtpMappingServiceConnected">MTP Mapping Service is not connected</label>
        </div>

        <div class="form-check form-switch">
            <input class="form-check-input" type="checkbox" role="switch" id="plcMappingServiceConnected" formControlName="plcMappingServiceConnected">
            <label *ngIf="(this.apiConnectionForm.get('plcMappingServiceConnected').value == true)" class="form-check-label" for="plcMappingServiceConnected">PLC2Skill Mapping Service is connected</label>
            <label *ngIf="(this.apiConnectionForm.get('plcMappingServiceConnected').value == false)" class="form-check-label warn" for="plcMappingServiceConnected">PLC2Skill Mapping Service is not connected</label>
        </div>

        <div class="form-check form-switch">
            <input class="form-check-input" type="checkbox" role="switch" id="llmGenerationConnected" formControlName="llmGenerationConnected">
            <label *ngIf="(this.apiConnectionForm.get('llmGenerationConnected').value == true)" class="form-check-label" for="llmGenerationConnected">LLM Ontology Generation Service is connected</label>
            <label *ngIf="(this.apiConnectionForm.get('llmGenerationConnected').value == false)" class="form-check-label warn" for="llmGenerationConnected">LLM Ontology Generation Service is not connected</label>
        </div>

        <div class="form-check form-switch">
            <input class="form-check-input" type="checkbox" role="switch" id="processPlanningConnected" formControlName="processPlanningConnected">
            <label *ngIf="(this.apiConnectionForm.get('processPlanningConnected').value == true)" class="form-check-label" for="processPlanningConnected">Process Planning is connected</label>
            <label *ngIf="(this.apiConnectionForm.get('processPlanningConnected').value == false)" class="form-check-label warn" for="processPlanningConnected">Process Planning is not connected</label>
        </div>

        <div class="form-check form-switch">
            <input class="form-check-input" type="checkbox" role="switch" id="processServiceConnected" formControlName="processServiceConnected">
            <label *ngIf="(this.apiConnectionForm.get('processServiceConnected').value == true)" class="form-check-label" for="processServiceConnected">Process Engine is connected</label>
            <label *ngIf="(this.apiConnectionForm.get('processServiceConnected').value == false)" class="form-check-label warn" for="processServiceConnected">Process Engine is not connected</label>
        </div>
    </div>
</div>

<!-- Modal -->
<div class="modal fade" #graphDbWarningModal data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header bg-danger text-white">
                <h1 class="modal-title fs-5" id="staticBackdropLabel">GraphDB not connected<i class="ms-3 fas fa-exclamation-triangle"></i></h1>

                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
            SkillMEx doesn't work without a running GraphDB instance. Make sure to start GraphDB and import the latest version of the <a href="https://github.com/aljoshakoecher/caskman">CaSkMan ontology</a>.
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Understood, close</button>
            </div>
        </div>
    </div>
</div>
