<div class="card border-dark mb-3  border-secondary rounded">
    <div class="card-header">
        <h5 class="card-title" title="{{capability.iri}}">{{capability.getLocalName()}}</h5>
        <button class="btn btn-sm btn-danger" style="position:absolute; right:10px;top:10px;"
            title="Disconnect Capability" (click)="deleteCapability()"><i class="far fa-trash-alt"></i></button>
    </div>
    <div class="card-body">
        <div class="row">
            <div class="col-12">
                Inputs: {{capability.inputs}}
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                Outputs: {{capability.outputs}}
            </div>
        </div>

        <ng-container *ngFor="let skill of capability.skillIri">
            <skill-card [skill]="skillIri"></skill-card>
        </ng-container>

    </div>
</div>
