<div class="row mt-3">
    <div class="col">
        <p>Please select an AutomationML-file containing a Module Type Package and upload it for mapping</p>
    </div>
</div>
<form>
    <div class="input-group">
        <div class="input-group">
            <input type="file" #file accept=".aml" class="form-control"
                (change)="onFileAdded($event); changed=true">
            <button class="btn btn-primary" (click)="submit()" type="button">Upload</button>
        </div>
    </div>
</form>
