<h1>SkillMEx-Configuration</h1>

<ul class="nav nav-tabs">
    <li class="nav-item">
        <a class="nav-link" [routerLinkActive]="['active']" routerLink="graphdb-settings">GraphDB-Settings</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" [routerLinkActive]="['active']" routerLink="mtp-mapping-settings">MTP-Mapping</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="#">...</a>
    </li>
    <li class="nav-item">
        <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">...</a>
    </li>
</ul>

<router-outlet></router-outlet>
