<h2>Deployed Process Definitions</h2>
<div class='row'>
    <div class='col-12'>
        <table class='table table-bordered table-striped'>
            <thead class="table-dark">
                <tr>
                    <th scope="col">Process Definition ID</th>
                    <th scope="col">Options</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let processDefinition of processDefinitions, let i = index">
                    <td>
                        <span class="align-middle">
                            <b class="align-middle">{{processDefinition.id}}</b>
                            <a class="btn btn-sm btn-outline-secondary float-end"
                                (click)="showDetails(i, processDefinition)">
                                Details
                            </a>
                        </span>
                        <div class="mt-4 mb-2" *ngIf="detailsShown[i]">
                            <div class="card card-body">
                                <div class="row">
                                    <div class="col-sm-4"><b>Name: </b>{{processDetails[i].name}}</div>
                                    <div class="col-sm-4"><b>Version: </b>{{processDetails[i].version}}</div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-4"><b>Suspended: </b>{{processDetails[i].suspended}}</div>
                                    <div class="col-sm-4"><b>Category: </b>{{processDetails[i].category}}</div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-8"><b>Description: </b>{{processDetails[i].description}}</div>
                                </div>
                                <p><b>Diagram</b></p>
                                <bpmn-viewer class="border rounded" style="height: 300px"
                                    [bpmnXml]="processDetails[i].bpmn20Xml"></bpmn-viewer>
                            </div>
                        </div>
                    </td>
                    <td style="width: 140px;">
                        <button class="btn btn-sm btn-success me-1" title="Start new process instance"
                            (click)="setProcessDefintionToStart(processDefinition)" data-bs-toggle="modal"
                            data-bs-target="#startingModal">
                            <i class="fas fa-play"></i>
                        </button>
                        <button class="btn btn-sm btn-danger me-1" title="Delete process definition"
                            (click)="selecteProcessDefinitionToDelete(processDefinition)" data-bs-toggle="modal"
                            data-bs-target="#deletingModal">
                            <i class="fas fa-trash"></i>
                        </button>
                        <button class="btn btn-sm btn-secondary" title="Show XML"
                            (click)="setModalXml(processDefinition.id)" data-bs-toggle="modal"
                            data-bs-target="#xmlModal">
                            <i class="fas fa-code"></i>
                        </button>
                    </td>

                </tr>
        </table>
    </div>
</div>




<!-- Modal for starting an instance of a process definition-->
<div class="modal fade" id="startingModal" tabindex="-1" role="dialog" aria-labelledby="startingModalTitle"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="startingModalTitle">Start a new process instance</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <b>Process ID:</b> {{processDefinitionToStart}}
                Start-Form Variables
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="button" class="btn btn-success" (click)="startProcessInstance()">Start</button>
            </div>
        </div>
    </div>
</div>


<!-- Modal for deleting a process definition-->
<div class="modal fade" id="deletingModal" tabindex="-1" role="dialog" aria-labelledby="deletingModalTitle"
    aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header bg-danger text-white">
                <h5 class="modal-title" id="deletingModalTitle">Danger zone</h5>
                <i class="ms-3 fas fa-exclamation-triangle"></i>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <p>Do you really want to delete this process instance?</p>
                <div class="mb-3 row">
                    <label for="staticId" class="col-sm-2 col-form-label">ID:</label>
                    <div class="col-sm-10">
                        <input type="text" readonly class="form-control-plaintext"
                            value="{{processDefinitionToDelete?.id}}">
                    </div>
                </div>
                <div class="mb-3 row">
                    <label for="staticName" class="col-sm-2 col-form-label">Name:</label>
                    <div class="col-sm-10">
                        <input type="text" readonly class="form-control-plaintext"
                            value="{{processDefinitionToDelete?.name}}">
                    </div>
                </div>
                <div class="mb-3 row">
                    <label for="staticName" class="col-sm-2 col-form-label">
                        Cascade
                        <i class="fas fa-question"
                            title="If set to true, deletes all running instances of this process definition">
                        </i>:
                    </label>
                    <div class="col-sm-10">
                        <select name="deleteCascading" [formControl]="deleteCascading" class="form-select">
                            <option value="false">no</option>
                            <option value="true">yes</option>
                        </select>
                    </div>
                </div>
                Cascade

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="button" class="btn btn-danger" data-bs-dismiss="modal" (click)="deleteProcessDefinition()">Delete</button>
            </div>
        </div>
    </div>
</div>

<!-- Modal for showing the XML-File of Process-Definition -->
<div class="modal fade" id="xmlModal" tabindex="-1" role="dialog" aria-labelledby="xmlModalTitle" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="xmlModalTitle">XML-File of Process-Definition</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                {{this.modalXml}}
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
