<form [formGroup]="fg">

    <div class="form-group">
        <label class="col-sm-6 col-form-label">Skill:<i class="far fa-question-circle"
                title="IRI of the skill that should be executed in this task"></i></label>
        <select class="form-control form-control-sm" formControlName="skillIri">
            <option value="{{null}}">...</option>
            <option *ngFor="let skill of (this.skills$ | async)" [ngValue]="skill.iri">{{skill.iri}}</option>
        </select>
    </div>

    <div class="form-group">
        <label class="col-sm-6 col-form-label">Command:<i class="far fa-question-circle"
                title="ISA 88 command that should be invoked"></i></label>
        <select class="form-control form-control-sm" formControlName="commandTypeIri">
            <option *ngFor="let commandKey of this.commandKeys" value="{{this.commands[commandKey]}}" [selected]="commandKey == 'Start' ? true : false">{{commandKey}}
            </option>
        </select>
    </div>

    <ng-container [formGroup]="fgParameters" *ngFor="let parameter of (this.selectedSkill$ | async)?.skillParameters">
        <div class="form-group">
            <label class="col-form-label">{{parameter.name}}<i class="far fa-question-circle"
                    title="Parameter {{parameter.name}}"></i></label>
            <input class="form-control form-control-sm" [formControlName]="parameter.name">
        </div>
    </ng-container>

    <div class="form-group">
        <label class="col-sm-6 col-form-label">Self resetting:<i class="far fa-question-circle"
                title="Defines whether or not this skill should reset itself to Idle state after execution"></i></label>
        <input type="checkbox" class="form-check form-check-sm" formControlName="selfResetting">
    </div>

    <strong>List of Outputs:</strong>
    <p *ngFor="let output of (this.selectedSkill$ | async)?.skillOutputs">{{output.name}} - {{output.type}}</p>
</form>
