<div style="height: 100%;">
    <div #ref class="diagram-container" id="canvas"></div>
    <properties-panel [show]="showPropertiesPanel" [bpmnElement]="clickedElement"></properties-panel>
</div>
<button class="btn btn-primary mr-2" (click)="saveProcess()" title="Save created process" >Save process</button>
<button class="btn btn-secondary" (click)="listAllDeployedProcessDefinitions()" title="Load deployed Process Definition" data-toggle="modal" data-target="#loadModal">Load process</button>


<div class="modal fade" id="loadModal" tabindex="-1" role="dialog" aria-labelledby="loadModalTitle" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="loadModalTitle">Load deployed Process-Definitions</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
            <table  class='table table-bordered table-striped'>
                <thead>
                    <tr>
                        <th scope="col">Process Definition ID</th>
                        <th scope="col">Options</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let processDefinition of processDefinitions">
                       <td>{{processDefinition.id}}</td>
                       <td> <button (click)="loadProcess(processDefinition)" class="btn btn-primary" title="Select this Process Definition">Select</button> </td>
                       
                   </tr>
            </table>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal" title="Close">Close</button>
          <button (click)="showSelectedDefinition()" type="button" class= "btn btn-success" data-dismiss="modal" title="Load in BPMN-Modeler">Load</button>
         
        </div>
      </div>
    </div>
  </div>