<div class="row">
    <div class="col-12" style="height: 500px;">
        <bpmn-viewer [bpmnXml]="selectedInstance?.xml" [activeActivityId]="selectedInstance?.activity"></bpmn-viewer>
    </div>
</div>

<div class='row p-2'>
    <div class='col-12'>
        <h6>Filter</h6>
        <div class="input-group mb-2">
            <select name="filterValue" class="form-select">
                <option value="asd">asd</option>
            </select>
            <select name="filterCriteria" class="form-select">
                <option value="qwe">qwe</option>
            </select>
            <button class="btn btn-outline-secondary" type="button" id="button-addon2">Button</button>
        </div>

        <table class="table table-bordered table-hover">
            <thead>
                <tr>
                    <th scope="col">Process Instances</th>
                    <th scope="col">State</th>
                    <th scope="col">Options</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let instance of processInstances, let i = index" class="pointer" (click)="showInViewer(instance)">
                    <td>{{instance.id}}
                        <span class="align-middle">
                            <b class="align-middle">{{instance.id}}</b>
                            <a class="btn btn-sm btn-outline-secondary float-end"
                                (click)="showDetails(i, instance)">
                                Details
                            </a>
                        </span>
                        <div class="mt-4 mb-2" *ngIf="detailsShown[i]">
                            <div class="card card-body">
                                <div class="row">
                                    <div class="col-sm-12"><b>Instance ID: </b>{{instance.id}}</div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-12"><b>Process Definition ID: </b>{{instance.definitionId}}</div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-8"><b>Activity: </b></div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-10"><b>Instance ID: </b>{{instanceDetails[i].activity.id}}</div>
                                    <div class="col-sm-10"><b>ID: </b>{{instanceDetails[i].activity.activityId}}</div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-10"><b>Child activity instances: </b>{{instanceDetails[i].activity.childActivityInstances | json}}</div>
                                </div>
                            </div>
                        </div>
                    </td>
                    <td [innerHTML]="instance.getStateBadge()"></td>
                    <td>
                        <button *ngIf="instance.state === 'active'" class="btn btn-sm btn-danger" (click)="suspendInstance(instance.id)"><i class="fas fa-pause"></i>&nbsp;Suspend</button>
                        <button *ngIf="instance.state === 'suspended'" class="btn btn-sm btn-success" (click)="activateInstance(instance.id)"><i class="fas fa-play"></i>&nbsp;Activate</button>
                    </td>
                </tr>
            </tbody>
        </table>

    </div>
</div>
