<h1>Model New Skill Process</h1>
<div class="diagram-parent">
    <bpmn-modeler (importDone)="handleImported($event)" [bpmnXml]="bpmnXml"></bpmn-modeler>

    <div class="import-error" *ngIf="importError">
        <strong>Failed to render diagram: </strong>
        {{ importError.message }}
    </div>
</div>


<button class="btn btn-primary mr-2" (click)="saveProcess()" title="Save created process">Save process</button>
<button class="btn btn-secondary" (click)="listAllDeployedProcessDefinitions()" title="Load deployed Process Definition"
    data-bs-toggle="modal" data-bs-target="#loadModal">Load process</button>


<!--Modal for loading a deployed process definition-->
<div class="modal fade" id="loadModal" tabindex="-1" role="dialog" aria-labelledby="loadModalTitle" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="loadModalTitle">Load deployed Process-Definitions</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <h4>Process Definition ID</h4>
                <select name="selectedXml" class="form-select" [formControl]="processSelector">
                    <option *ngFor="let processDefinition of processDefinitions" [ngValue]="processDefinition">
                        {{processDefinition.id}}</option>
                </select>
                <div class="viewer-container">
                    <h4 class="mt-3">Process</h4>
                    <bpmn-viewer *ngIf="this.previewXml!=''" [bpmnXml]="previewXml"></bpmn-viewer>
                </div>
            </div>
            <div class="modal-footer mt-3">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button (click)="openInModeler()" type="button" class="btn btn-success" data-bs-dismiss="modal"
                    title="Open in BPMN-Modeler">Open in Modeler</button>
            </div>
        </div>
    </div>
</div>
