<h1>Order Management</h1>
<ul class="nav nav-tabs">
  <li class="nav-item">
    <a class="nav-link" routerLink="new-order" routerLinkActive="active">Upload Files</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" routerLink="upload-summary" routerLinkActive="active">Upload Summary</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" routerLink="producibility-check" routerLinkActive="active">Producibility Check</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" routerLink="start-production" routerLinkActive="active">Start Production</a>
  </li>
</ul>
<div class="tab-content pt-3 pb-3">
  <div class="container-fluid">
    <div class="row">
      <div class="col-12">
        <router-outlet></router-outlet>
      </div>
    </div>
  </div>
</div>
