.diagram-parent {
    height: 750px;
    border: solid 3px #EEE;
    position: relative;
}

.import-error {
color: red;
padding: 20px;

position: absolute;
top: 0;
left: 0;
}

.viewer-container {
    height: 500px;
}

.xmlDisplay {
    white-space: break-spaces;
}
