<div [@routerTransition]>
    <app-page-header [heading]="'Charts'" [icon]="'fa-bar-chart-o'"></app-page-header>
    <div class="row">
        <div class="col col-sm-6">
            <bar-chart></bar-chart>
        </div>
        <div class="col col-sm-6">
            <line-chart></line-chart>
        </div>
    </div>
    <div class="row">
        <div class="col col-sm-6">
            <doughnut-chart></doughnut-chart>
        </div>
        <div class="col col-sm-6">
            <radar-chart></radar-chart>
        </div>
    </div>
    <div class="row">
        <div class="col col-sm-6">
            <pie-chart></pie-chart>
        </div>
        <div class="col col-sm-6">
            <polararea-chart></polararea-chart>
        </div>
    </div>
</div>
