<h3>Define a new planning problem</h3>

<form [formGroup]="orderInquiryForm" (ngSubmit)="onSubmit()">
    <div class="row">
        <div class="col">
            <h4>1. Select Required Capability</h4>
            <p>Select the required capability to carry planning out for. All provided capabilities are taken as candidates to fulfill the required capability.
                Make sure to also select property values according to your requirements
            </p>
            <div class="input-group mb-3">
                <span class="input-group-text">Capability IRI</span>
                <select class="form-select" formControlName="requiredCapability">
                    <option *ngFor="let requiredCap of (requiredCapabilities$ | async)" [ngValue]="requiredCap">{{requiredCap.iri}}</option>
                </select>
            </div>
            <div *ngIf="requiredCapability != null" formGroupName="properties">
                <p>Select all property values</p>
                <div *ngFor="let input of requiredCapability.inputs" class="input-group mb-3">
                    <span class="input-group-text">{{input.getLocalName()}}</span>
                    <input type="text" class="form-control" [formControlName]="input.getLocalName()">
                </div>
                <div *ngFor="let output of requiredCapability.outputs" class="input-group mb-3">
                    <span class="input-group-text">{{output.getLocalName()}}</span>
                    <input type="text" class="form-control" [formControlName]="output.getLocalName()">
                </div>
            </div>
        </div>
    </div>

    <div class="row mt-2">
        <div class="col">
            <h4>2. Add User Constraints</h4>
            <p>You can add global property constraints, capability (sequence) constraints or known partial solutions to restrict process planning according to your expert knowledge</p>
            <p class="mt-3 fw-bold">Property Constraints</p>
            <ng-container formArrayName="propertyConstraints">
                <ng-container *ngFor="let constraint of propertyConstraints.controls; let i=index">
                    <div class="row mb-2" [formGroup]="constraint">
                        <div class="col input-group">
                            <span class="input-group-text">Property Name</span>
                            <input type="text" class="form-control" formControlName="propertyName">
                        </div>
                        <div class="col input-group">
                            <span class="input-group-text">Relation</span>
                            <input type="text" class="form-control" formControlName="relation">
                        </div>
                        <div class="col input-group">
                            <span class="input-group-text">Value</span>
                            <input type="text" class="form-control" formControlName="value">
                        </div>
                        <div class="col-sm-1">
                            <button class="btn btn-danger" (click)="deletePropertyConstraint(i)"><i class="fa-solid fa-delete-left"></i></button>
                        </div>
                    </div>
                </ng-container>
            </ng-container>
            <button type="button" class="btn btn-primary" (click)="addNewPropertyConstraint()">Add new property constraint</button>

            <p class="mt-3 fw-bold">Sequence Constraints</p>
            <ng-container formArrayName="sequenceConstraints">
                <ng-container *ngFor="let constraint of sequenceConstraints.controls; let i=index">
                    <div class="row mb-2" [formGroup]="constraint">
                        <div class="col input-group">
                            <span class="input-group-text">Property Name</span>
                            <input type="text" class="form-control" formControlName="propertyName">
                        </div>
                        <div class="col input-group">
                            <span class="input-group-text">Relation</span>
                            <input type="text" class="form-control" formControlName="relation">
                        </div>
                        <div class="col input-group">
                            <span class="input-group-text">Value</span>
                            <input type="text" class="form-control" formControlName="value">
                        </div>
                        <div class="col-sm-1">
                            <button class="btn btn-danger" (click)="deleteSequenceConstraint(i)"><i class="fa-solid fa-delete-left"></i></button>
                        </div>
                    </div>
                </ng-container>
            </ng-container>
            <button type="button" class="btn btn-primary" (click)="addNewSequenceConstraint()">Add new sequence constraint</button>

            <p class="mt-3 fw-bold">Partial Solutions</p>
            <ng-container formArrayName="partialSolutions">
                <ng-container *ngFor="let constraint of partialSolutions.controls; let i=index">
                    <div class="row mb-2" [formGroup]="constraint">
                        <div class="col input-group">
                            <span class="input-group-text">Property Name</span>
                            <input type="text" class="form-control" formControlName="propertyName">
                        </div>
                        <div class="col input-group">
                            <span class="input-group-text">Relation</span>
                            <input type="text" class="form-control" formControlName="relation">
                        </div>
                        <div class="col input-group">
                            <span class="input-group-text">Value</span>
                            <input type="text" class="form-control" formControlName="value">
                        </div>
                        <div class="col-sm-1">
                            <button class="btn btn-danger" (click)="deletePartialSolution(i)"><i class="fa-solid fa-delete-left"></i></button>
                        </div>
                    </div>
                </ng-container>
            </ng-container>
            <button type="button" class="btn btn-primary" (click)="addNewPartialSolution()">Add new partial solution</button>
        </div>
    </div>

    <div class="row mt-4 justify-content-end">
        <div class="col-auto">
            <button type="submit" class="btn btn-success float-right">Start Planning</button>
        </div>
        <loader *ngIf="showPlanningInProgress" [active]='showPlanningInProgress'></loader>
    </div>

</form>
